@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif ;
    height: 100%;
}

body{
    background-image: linear-gradient(to bottom,#C7FFED, #D8FFDB);
}

main {
    background-color: white;
    border-radius: 10px ;
    box-shadow: 5px 5px 15px #73867488;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color :#023535;
    text-align: center;
    text-shadow: 1px 1px 2px #013232a3;
}

h2 {
    color: #015958;
}

p {
    text-align: justify;
}